.categoryRow {
  margin-left: 1.2rem;
  background-color: #111;
  color: white;
}

.categoryRow .movies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
  padding: 1.5rem;
}

.categoryRow .movies::-webkit-scrollbar {
  overflow-x: scroll;
}

@media screen and (min-width: 768px) {
  .categoryRow .movies::-webkit-scrollbar {
    height: 7px;
    background-color: #2c2c2c;
  }
  .categoryRow .movies::-webkit-scrollbar-thumb {
    background-color: #494949;
    max-width: 20px;
    border-radius: 100px;
    background-clip: border-box;
  }
}

.categoryRow .movies .movieDetails {
  position: relative;
  margin-right: 0.75rem;
  -webkit-transition: -webkit-transform 450ms;
  transition: -webkit-transform 450ms;
  transition: transform 450ms;
  transition: transform 450ms, -webkit-transform 450ms;
}

.categoryRow .movies .movieDetails .moviePoster {
  max-height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

.categoryRow .movies .movieDetails .moviePosterHeight {
  max-height: 250px;
}

.categoryRow .movies .movieDetails p {
  opacity: 0;
  position: absolute;
  font-weight: 700;
  bottom: 10%;
  left: 0.25rem;
}

.categoryRow .movies .movieDetails:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.categoryRow .movies .movieDetails:hover .moviePoster, .categoryRow .movies .movieDetails:hover .moviePosterHeight {
  opacity: 0.4;
}

.categoryRow .movies .movieDetails:hover p {
  opacity: 1;
}
