.plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
}

@media screen and (min-width: 768px) {
  .plan {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.plan .productDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .plan .productDescription {
    width: 80%;
    margin: 0;
  }
}

.plan .productDescription p {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 500;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .plan .productDescription p {
    margin-left: 0;
  }
}

.plan .activeSubscription button {
  width: 100%;
  margin-top: 0.85rem;
  padding: 10px;
  color: white;
  background-color: grey;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .plan .activeSubscription {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
  }
}

.plan .suscribeButton {
  width: 80%;
}

.plan .suscribeButton button {
  width: 100%;
  margin-top: 0.85rem;
  padding: 10px;
  color: white;
  background-color: red;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .plan .suscribeButton {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
  }
}
