$breakpoint-tablet: 768px;

.categoryRow{
    margin-left: 1.2rem;
    background-color: #111;
    color: white;

    .movies{
        display: flex;
        overflow-y: hidden;
        padding: 1.5rem;

        &::-webkit-scrollbar{
            overflow-x: scroll;
        }    

        @media screen and (min-width: $breakpoint-tablet) {
            &::-webkit-scrollbar{
                height: 7px;
                background-color: rgb(44, 44, 44);
    
            }
    
            &::-webkit-scrollbar-thumb{
                background-color: rgb(73, 73, 73);
                max-width: 20px;
                border-radius: 100px;
                background-clip: border-box;
            }
        }

      

        .movieDetails{
            position: relative;            
            margin-right: 0.75rem;
            transition: transform 450ms; 

            .moviePoster{       
                max-height: 100px;   
                object-fit: contain;                             
            }

            .moviePosterHeight{
                max-height: 250px;
            }

            p {
                opacity: 0;
                position: absolute;
                font-weight: 700;
                bottom: 10%;
                left: 0.25rem;
            }

            &:hover{
                transform: scale(1.08);
                
                .moviePoster, .moviePosterHeight{
                    opacity: 0.4;
                }

                p {
                    opacity: 1;
                }
            }

        }       

        
    }
}