.plan{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100px;

    @media screen and (min-width: 768px){
        flex-direction: row;
    }

    .productDescription{
        display: flex;
        flex-direction: column;
  

        @media screen and (min-width: 768px){
            width: 80%;
            margin: 0;
        }
        
        p {
            width: max-content;
            font-weight: 500;
            margin: 0 auto;   
            
            @media screen and (min-width: 768px){
                margin-left: 0;
            }
        }
    }

    .activeSubscription{
        width: 80%;
        button{
            width: 100%;
            margin-top: 0.85rem;
            padding: 10px;
            color: white;
            background-color: grey;
            border: none;
            cursor: pointer;
        }

        

        @media screen and (min-width: 768px){            
            flex-basis: 200px;
        }
        
    }

    .suscribeButton{
        width: 80%;

        .loading{
            text-align: center;
            padding: 0.45rem;
            border: 1px solid rgb(56, 56, 56);
            margin: 0 auto;
        }

        button{
            width: 100%;
            margin-top: 0.85rem;
            padding: 10px;
            color: white;
            background-color: red;
            border: none;
            cursor: pointer;
            opacity: 0.8;

            &:hover{
                opacity: 1;
                transition: all 0.3s ease-out;
                
            }
        }

        

        

        @media screen and (min-width: 768px){
            flex-basis: 200px;
        }
    }

}